.tab-content {
  padding: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.tab-content h3 {
  margin-bottom: 1rem;
  color: #222;
  text-align: left;
}

.tab-content label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.tab-content select {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #c2bbbb;
  font-size: 1rem;
}

.privacy-option {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.section {
  margin-top: 1rem;
}

.label {
  font-weight: 600;
  margin-bottom:2rem;
}

.theme-options {
  display: flex;
  gap: 1rem;
}
.about-details {
  margin-top: 1rem;
  line-height: 1.6;
}

.theme-box {
  flex: 1;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  background-color: #f9f9f9;
}

.theme-box.active {
  border-color: #7f3ff0;
  background-color: #eef0ff;
}

.theme-box span {
  font-size: 1.5rem;
}

.font-options {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5rem;
}

.font-options button {
  flex: 1;
  padding: 0.8rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  font-weight: 500;
}

.font-options button.active {
  border-color: #7f3ff0;
  background-color: #f1eaff;
}


.tab-content label {
  display: block;
  margin: 1rem 0 0.4rem;
  font-weight: 600;
  color: #333;
  text-align: left;
}

.select-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
  margin-top: 0.4rem;
}
.order-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.order-card {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.order-row {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0;
}

.order-label {
  font-weight: 500;
  color: #555;
}

.order-status.delivered {
  color: green;
  font-weight: bold;
}

.order-status.cancelled {
  color: red;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
}

.account-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  background: #f4f4f4;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.account-link:hover {
  background: #e0e0e0;
}

.clear-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  background-color: #ffe6e6;
  border: none;
  border-radius: 6px;
  color: #d32f2f;
  cursor: pointer;
  font-weight: 600;
  margin-top: 0.8rem;
  transition: background 0.3s;
}

.clear-btn:hover {
  background-color: #ffcccc;
}
